* {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 5rem;
}

body {
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timeMonthDiv {
    display: flex;
    flex-direction: column;
}

.header-calendar {
    margin-left: 5rem;
}

.AddEvent {
    width: 8rem;
    height: 2rem;
    border-radius: 20px;
    border: none;
    background-color: rgb(84, 173, 252);
}

.main-window {
    display: flex;
    justify-content: center;
    padding: 1.25rem;
    width: 100%;
    margin: auto;
}

.days-name-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
}

.month {
    width: 80%;
    align-content: center;
    background-color: azure;
}

.month-name {
    text-align: center;
    font-size: 2rem;
    margin: 0.5rem;
}

.month-row {
    display: flex;
    background-color: gray;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
}

.days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding-top: 2rem;
    gap: 0.5rem;
    margin: 0.5rem;
}

.days {
    padding: 0.5rem;
    text-align: center;
    height: 4rem;
    border: 0.0625rem solid gray;
    box-shadow: 2px 4px grey;
    border-radius: 5px;
}

.modal {
    display: none;
    z-index: 2;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.modalObjects {
    background-color: white;
    margin-top: 5rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 5rem;
    border-radius: 10px;
}

.close {
    position: relative;
    font-weight: bold;
    border: none;
    width: 1rem;
}

.doneCancelButtons {
    display: flex;
    margin: 2rem;
    justify-content: center;
}

#inActiveDay {
    border: none;
    box-shadow: none;
}

.days:hover {
    background-color: yellow;
}

#inActiveDay:hover {
    background-color: azure;
}

.highlightToday {
    background-color: red;
    color: white;
    font-size: 30px;
    font-weight: bold;
}