header {
    border: 1px solid black;
    display: flex;
}

.header-calendar {
    flex-basis: 80%;
    text-align: center;
}

.AddEvent {
    flex-basis: 20%;
}

.main-window {
    display: flex;
    border: 1px solid black;
    justify-content: center;
}

.days-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.month {
    height: 90%;
    width: 90%;
    border: 1px solid black;
}

.month-name {
    display: flex;
    flex-basis: 80%;
    background-color: gray;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
}