header {
    border: 1px solid black;
    display: flex;
}

body {
    width: 80%;
    margin: auto;
}

.header-calendar {
    flex-basis: 80%;
    text-align: center;
}

.AddEvent {
    flex-basis: 20%;
}

.main-window {
    display: flex;
    border: 1px solid black;
    justify-content: center;
}

.days-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.month {
    height: 90%;
    width: 90%;
    border: 1px solid black;
    padding: 2rem;
    align-content: center;
}

.month-row {
    display: flex;
    background-color: gray;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
}

.days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.days {
    border: 1px solid black;
    height: 5rem;
}

.modal {
    display: none;
    z-index: 1;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    margin: auto;
    text-align: center;
    width: 80%;
    height: 100%;
}