* {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

body {
    width: 100%;
    margin: auto;
}

.timeMonthDiv {
    display: flex;
    flex-direction: column;
}

.header-calendar {
    flex-basis: 100%;
    text-align: center;
}

.AddEvent {
    width: 10rem;
    height: 2rem;
    margin-right: 2rem;
    border-radius: 20px;
    border: none;
    background-color: rgb(84, 173, 252);
}

.main-window {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    padding: 1.25rem;
    width: 100%;
    margin: auto;
}

.days-name-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
}

.month {
    width: 90%;
    border: 1px solid black;
    align-content: center;
}

.month-name {
    text-align: center;
    font-size: 2rem;
    margin: 0.5rem;
}

.month-row {
    display: flex;
    background-color: gray;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
}

.days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding-top: 2rem;
}

#days {
    text-align: center;
    height: 5rem;
}

.modal {
    display: none;
    z-index: 1;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: left;
}

.modalObjects {
    background-color: white;
    margin-top: 5rem;
    display: flex;
    width: 60%;
    flex-flow: column;
    justify-content: center;
    padding: 10rem;
}

.close {
    font-weight: bold;
    border: none;
    background-color: white;
    border-radius: 50%;
    margin-top: 5rem;
}

.doneCancelButtons {
    display: flex;
    margin: 2rem;
    justify-content: center;
}